@model TerminvereinbarungLib.Termin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Termin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.angefragt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.angefragt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bestätigt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestätigt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abgeschlossen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abgeschlossen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arzt.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arzt.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Behandlung.Behandlungart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Behandlung.Behandlungart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zeitslot.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zeitslot.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
